/* General Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

:root {
  --bg-color: black;
  --bg-header: #16161a;
  --color-btn: #7f5af0;
  --color-menu: #999;
  --color-menu2: #fffe;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--color-menu);
}

li {
  list-style: none;
}
/* NAVIGATION */
header {
  height: 15vh;
  background-color: #000;
  display: flex;
}
.main-nav {
  width: 90%;
  margin: auto;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 180px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list2 {
  display: flex;
}
.nav-list2 li a {
  color: #fffe;
  padding: 0.4rem;
}
.tickets {
  margin-left: auto;
}

/* Menu links style and Hover */
.tickets-btn {
  margin-left: auto;
  background-color: var(--color-btn);
  padding: 1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.tickets-btn:hover,
.tickets-btn:focus {
  color: var(--color-btn);
  background-color: black;
  border: 1px solid #7f5af0;
}

.nav-list li,
.nav-list2 li {
  display: block;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-menu);
  transition: all 0.3 ease-in-out;
}

.under {
  position: relative;
}
.under:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #7f5af0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.under:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-list a:hover {
  color: #fffe;
}

.fab {
  font-size: 2rem;
  padding: 1rem;
}
.fab:hover,
.fab:focus {
  color: var(--color-menu2);
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-menu2);
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover,
.hamburger:focus {
  outline: none;
  color: var(--color-btn);
}
/* Slide */
.glide__slide img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: center;
}
.glide__bullet {
  width: 15px;
  height: 15px;
}
/* Cards */
.card_section {
  margin-top: 5rem;
  min-height: 40vh;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.card_info {
  margin: 2rem;
  transition: all 0.4s ease-in-out;
}
.card_text {
  color: var(--color-menu2);
  font-weight: 100;
  width: 100%;
}

.card_info:hover,
.card_info.card_text:hover {
  background: #7f5af0;
  color: var(--color-menu2);
  transform: scale(1.02);
}
.refestival-section {
  min-height: 60vh;
  margin-bottom: 5rem;
}
.refestival_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.refestival_head {
  margin-top: 5rem;
  text-transform: uppercase;
  color: var(--color-menu2);
}

hr {
  width: 90%;
  border: 1px solid #7f5af0;
}
.refestival-h3 {
  font-size: 4rem;
  /* margin-left: 1rem; */
  letter-spacing: 3px;
}

.refest_img {
  width: 500px;
  height: 400px;
  width: 90%;
}

.foot-container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.foot-logo {
  width: 100px;
  height: 50px;
}

/* MEDIA */
@media only screen and (max-width: 800px) {
  .nav-list {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .nav-list,
  .nav-list2 {
    display: none;
    /* gia na pianoun olo ton xoro ta links  */
    width: 100%;
  }
  /* otan patame to burger na emfanizontai ta links */

  .nav-list2.show {
    display: flex;
  }
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-list2 li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
  }
  .card_info {
    margin: 1rem 0;
  }
  .refest-card {
    margin-left: 5rem;
  }
}
